#direito {
	float: right;
}
#opcoes {
	float: right;
}
#esquerda{
	float: left;
}
#aluno{
	width: 300px ;
	heigth: 100px;
}
#professor{
	width: 300px ;
	heigth: 100px;
}
#tombo{
	width: 100px ;
	heigth: 100px;
}
#escolha{
	margin-top: -40px;
}
#enviar{
	float:left;
	margin-top:110px;
	margin-left:-372px;
}